.headerWrapper {
  font-family: Calibri;
  width: 650px;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  background-color: yellow;
  padding: 20px;
}

.headerWrapper h1 {
  margin-bottom: 0;
}

.login {
  width: 100%;
  height: 15px;
  display: inline-block;
}

.loginForm {
  font-weight: bolder;
  float: right;
  margin-right: 20px;
}

.logoutForm {
  float: right;
  cursor: pointer;
  color: red;
  font-weight: 800;
}

.loginForm form{
  display: inline-block;
}

.header {
  width: 100%;
  position: relative;
}

.searchWrap {
  width: 700px;
  margin:0 auto;
}

.search {
  width: 670px;
  margin: 15px 5px;
  background-color: orange;
  padding: 10px;
}

.searchText {
  font-weight: bolder;
  margin: 4px 0px
}

.searchEntry {
  width: 400px;
}

.searchInfo {
  font-size: 11px;
  width: 600px;
  margin: 0 auto 10px;
}

.bodyWrap {
  width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
  display: inline-block;
}

.bodyWrap > div {
  display: inline-block;
  vertical-align: top;
}

.left {
  width: 290px;
  border-right: 2px solid black;
  padding-right: 8px;
}

.middle {
  width: 700px
}

.right {
  width: 290px;
  border-left: 2px solid black;
  padding-left: 8px;
}

.right h4 {
  text-align: left;
  padding-left: 15px;
  margin: 10px 0;
}

.detailButtons {
  width: 690px;
  height: 20px;
  margin: 10px 10px 15px 0px;
}

.detailButtons button {
  float: right;
  font-weight: bolder;
  color: white;
}

.watchList {
  border-top: 20px solid blue;
  border-left: 2px solid blue;
  margin-bottom: 40px;
}

.watchList h2 {
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
}

.watchAdd {
  background-color: blue;
  color: white;
}

.portfolio {
  border-top: 20px solid green;
  border-left: 2px solid green;
}

.portfolio h2 {
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
}

.portfolioAdd {
  background-color: green;
  margin-right: 10px;
  color: white;
}

table {
  width: 100%;
}

.finances table tr td:last-child {
  padding: 3px 5px 2px 0px;
  text-align: left;
  padding-left: 10px;
}

.finances table tr td:nth-last-child(2) {
  text-align: right;
  border-right: 2px solid black;
  padding-right: 15px;
  width: 350px;
}

:is(.portfolio, .watchList) table tr td:last-child {
  text-align: right;
  color: blue;
}

:is(.portfolio, .watchList) table tr td:last-child a:visited {
  color: blue;
}

:is(.portfolio, .watchList) table tr td:nth-last-child(2) {
  border-left: 2px solid black;
  border-right: none;
  padding: 3px 0px 2px 0px;
  text-align: right;
  cursor: pointer;
  color: red;
  font-weight: bolder;
}

:is(.portfolio, .watchList) table tr:nth-child(odd) {
  background-color: lightgrey;
}

:is(.portfolio, .watchList) table tr th {
  background-color: white;
  border-bottom: 2px solid black;
}

:is(.portfolio, .watchList) table tr td a {
  text-decoration: none;
  font-weight: bolder;
}

.priceChart > div {
  height: 300px !important;
}

.volumeChart > div {
  height: 150px !important;
}

.yahooLink {
  text-align: right;
  margin-right: 10px;
  font-weight: bolder;
}

.finances {
  display: block;
}

.finances p {
  margin: 5px;
  text-align: left;
  padding-left: 25px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
